<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 第3步，编写实体类和映射文件namespace写成接口的完整名称 -->
<mapper namespace="cn.shop.dao.InformationsDao">
	<!-- 手动连接查询 -->
	<select id="getCount" resultType="int">
		select count(*) from informations
	</select>
	<select id="getInformationById" resultType="informations">
		select * from informations where id=#{id}
	</select>
	<update id="updateInformations" parameterType="informations">
		update informations 
		<set>
			<if test="replycount!=null and replycount!=0">
				 replycount=#{replycount},
			</if>
			<if test="viewcount!=null and viewcount!=0">
				viewcount=#{viewcount},
			</if>
			<if test="lastposttime!=null">
				 lastposttime=#{lastposttime},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<!-- 分页查询 -->
	<select id="getInformations" resultType="informations">
		select * from (select rownum rn,e.* from (select * from informations order by lastposttime desc) e) where rn>#{begin} and rn<![CDATA[<]]>=#{end}
	</select>

</mapper>