<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 第3步，编写实体类和映射文件namespace写成接口的完整名称 -->
<mapper namespace="cn.shop.dao.RepliesDao">
	<!-- 手动连接查询 -->
	<select id="getRepliesByInfoid" resultType="replies">
		select * from replies where infoid=#{infoid}
	</select>
	<insert id="addReplies" parameterType="replies">
		insert into replies values(replies_seq.nextval,#{content},sysdate,#{infoid})
	</insert>
</mapper>