<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.shop.dao.UserDao" >
 	
  <sql id="Base_Column_List" >
    userId, userName, userPw,userTel
  </sql>
  
  <insert id="insert" parameterType="cn.shop.entity.User">
    insert into t_user ()
    values (null, #{userName,jdbcType=VARCHAR}, #{userPw,jdbcType=VARCHAR}, 
     	#{userTel,jdbcType=VARCHAR})
  </insert>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where userId = #{userId,jdbcType=INTEGER}
  </delete>
  
  <update id="updateByPrimaryKeySelective" parameterType="cn.shop.entity.User" >
    update t_user
    <set >
      <if test="userName != null">
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPw != null" >
        userPw = #{userPw,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        userTel = #{userTel,jdbcType=VARCHAR},
      </if>
    </set>
    where userId = #{userId,jdbcType=INTEGER}
  </update>

 <select id="selectByPrimaryKey" resultType="cn.shop.entity.User" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{userId,jdbcType=INTEGER}
  </select>
  
  <select id="selectLogin" resultMap="cn.shop.entity.User" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    from t_user
    where userName = #{username}
    and userPw = #{password}
  </select>
  
</mapper>